.profile-picture1 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 50%; */
  height: 380px;
  width: 380px;
}
.profile-picture-background1 {
  height: 100%;
  /* border-radius: 50%; */
  width: 100%;
  background-image: url("../assets/cartoon.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #00ffff;
  box-shadow: 0 0 10px 0 cyan;
  margin-top: 2rem;
}

.profile-picture-background1:hover {
  transform: scale(1.09);
  transition: 1s ease-out;
}

@media screen and (max-width: 400px) {
  .profile-picture1 {
    height: 270px;
    width: 270px;
    margin-top: 4rem;
    margin-left: 1rem;
  }
  .profile-picture-background1 {
    height: 95%;
    width: 95%;
  }
  .paragraph {
    margin-left: 30px;
  }
  .btn-primary {
    margin-left: 20px;
  }
  .content {
    width: fit-content;
  }
}
